[project]
	description = no
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mateusz (singerxt)
[access "refs/for/refs/*"]
	read = group user/Mateusz (singerxt)
	push = group user/Mateusz (singerxt)
	label-Code-Review = -2..+2 group user/Mateusz (singerxt)
	label-Verified = -1..+1 group user/Mateusz (singerxt)
	rebase = group user/Mateusz (singerxt)
	removeReviewer = group user/Mateusz (singerxt)
	submit = group user/Mateusz (singerxt)
[access "refs/heads/*"]
	read = group user/Mateusz (singerxt)
	create = group user/Mateusz (singerxt)
	push = +force group user/Mateusz (singerxt)
	pushMerge = group user/Mateusz (singerxt)
[access "refs/tags/*"]
	push = +force group user/Mateusz (singerxt)
	pushTag = group user/Mateusz (singerxt)
	pushSignedTag = group user/Mateusz (singerxt)
